body {
  background-color: darkgray;
}

.walmart-output {
  color: black;
}

.walmart-output:hover,
.walmart-output:active {
  background-color: skyblue;
  cursor: pointer;
}

.popover {
  max-width: 450px;
}

#outputrow {
  background: white;
  opacity: 0.8
}

.walmartimg {
  height: 300px;
  width: 300px;
}

.input-group-append {
  margin-bottom: 15px;
}